[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "R2camtrapdp"]
	path = R2camtrapdp
	url = https://github.com/kfukasawa37/r2camtrapdp
